<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PlantFashion</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

  <div class="background"></div>

  <section class="hero">
    <div class="glass-card">

      <!-- NAV INSIDE GLASS -->
      <div class="glass-nav">
        <div class="logo">PlantFashion</div>
      </div>

      <h1>
        Find the perfect<br>
        complement<br>
        to your room
      </h1>

      <p>
        In publishing and graphic design, Lorem ipsum is a placeholder
        text commonly used to demonstrate the visual form of a document.
      </p>

      <button class="cta-btn" onclick="window.location.href='/detect'">Get Started</a>
</button>
      


    </div>
  </section>
<div class="leaf-overlay">
  <img src="/static/leaf.png" alt="Leaf">
</div>

</body>
</html>
